# HTID:3025164: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:3025164:

# Provide Specific Index Page (Set the default handler)
DirectoryIndex acceuil.html